<!-- <h1 class="hs">FAQs</h1>
<div class="faq-container">
    <div class="faq-item">
        <div class="faq-question">What types of food do you offer?</div>
        <div class="faq-answer">fgj
        </div>
    </div>
    <div class="faq-item">
        <div class="faq-question">What are your operating hours?</div>
        <div class="faq-answer">rogerngker
        </div>
    </div>
    <div class="faq-item">
        <div class="faq-question">Where is your restaurant located ?</div>
        <div class="faq-answer">JavaScript is a programming language used to add interactivity to web pages.
        </div>
    </div>
    <div class="faq-item">
        <div class="faq-question">Can I order food online?</div>
        <div class="faq-answer">rogerngker
        </div>
    </div>
    <div class="faq-item">
        <div class="faq-question">Do you offer delivery services?</div>
        <div class="faq-answer">rogerngker
        </div>
    </div>
</div> -->
<!-- <div class="container"> -->
<div class="up">
    <p id="up">FAQ'S</p>
<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                aria-controls="panelsStayOpen-collapseOne">
                What types of food do you offer?
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
            aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
                <p>We offer a diverse range of food options to cater to different tastes and preferences. Our menu
                    includes vegetarian dishes like fresh salads, paneer-based specialties, and vegetable curries. For
                    non-vegetarian lovers, we have succulent chicken, fish, and seafood dishes prepared with aromatic
                    spices. Enjoy classic Chinese cuisine with stir-fried dishes, noodles, rice bowls, and tasty dim
                    sum. We also serve Italian favorites like pasta, lasagna, and pizzas. Our Indian specialties feature
                    tandoori dishes, biryanis, and traditional curries. For a lighter start, choose from our variety of
                    appetizers and starters.</p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseTwo">
                What are your operating hours?
            </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
                <p>Monday to Friday: 11:00 AM – 10:00 PM
                    Saturday and Sunday: 12:00 PM – 11:00 PM
                    We also offer online ordering and delivery during these hours. Please note that our hours may vary
                    on holidays or special occasions, so we recommend checking our website or calling ahead for the most
                    up-to-date information.</p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseThree">
                Where is your restaurant located ?
            </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body">
                <p>Our restaurant is located at Mandapeta. We are easily accessible and situated
                    in a convenient spot for both dine-in and takeout. For more detailed directions, you can check our
                    location on Google Maps or visit the "Contact Us" section of our website. We look forward to
                    welcoming you!</p>
            </div>
        </div>
        <!-- <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseThree">
                    Can I order food online?
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body">
                    <p>you can conveniently order food online through our website or mobile app. Browse our menu,
                        select your favorite dishes, and place an order with just a few clicks. We ensure a seamless and
                        hassle-free online ordering experience, with options for delivery or pickup.
                    </p>
                </div>
            </div> -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Do you offer delivery services?
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <p>Yes, we offer delivery services to ensure you enjoy our delicious offerings from the
                            comfort of your home. You can place an order directly through our website, app, or partnered
                            delivery platforms. Delivery availability may vary based on your location, and we strive to
                            deliver your order promptly and fresh.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        Can I order food online?
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <p>you can conveniently order food online through our website or mobile app. Browse our menu,
                            select your favorite dishes, and place an order with just a few clicks. We ensure a seamless
                            and
                            hassle-free online ordering experience, with options for delivery or pickup.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseThree">
                        Do you offer delivery services?
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingThree">
                    <div class="accordion-body">
                        <p>Yes, we offer delivery services to ensure you enjoy our delicious offerings from the
                            comfort of your home. You can place an order directly through our website, app, or partnered
                            delivery platforms. Delivery availability may vary based on your location, and we strive to
                            deliver your order promptly and fresh.</p>
                    </div>
                </div>
            </div>
        </div> -->
<!-- </div> -->
