<!-- Footer -->
<footer class="bg-body-tertiary text-center">
  <!-- Grid container -->
  <div class="container p-4">
    
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"><i
          class="fab fa-facebook-f"></i></a>

      <!-- Twitter -->
      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"><i
          class="fab fa-twitter"></i></a>

      <!-- Google -->
      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"><i
          class="fab fa-google"></i></a>

      <!-- Instagram -->
      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"><i
          class="fab fa-instagram"></i></a>

      <!-- Linkedin -->
      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"><i
          class="fab fa-linkedin-in"></i></a>

      <!-- Github -->
      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"><i
          class="fab fa-github"></i></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div data-mdb-input-init class="form-outline mb-4">
              <input type="email" id="form5Example24" placeholder="enter email" class="form-control" />
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button data-mdb-ripple-init type="submit" class="btn btn-outline mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        Discover delicious recipes, cooking tips, and food inspiration to elevate your meals. Join our community for the
        latest food trends, exclusive offers, and kitchen hacks.
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">About Tastyfood</h5>
          <!-- About Zomato
Who We Are

Blog

Work With Us

Investor Relations

Report Fraud

Press Kit

Contact Us -->
          <ul class="list-unstyled mb-0">
            <li>
              <a class="text-body" href="#!">Who We Are</a>
            </li>
            <li>
              <a class="text-body" routerLink="/contactus">Contactus</a>
            </li>
            <li>
              <a class="text-body" href="#!">Work With Us</a>
            </li>
            <li>
              <a class="text-body" href="#!">Report Fraud</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Tastyfood</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a class="text-body" >Investor Relations</a>
            </li>
            <li>
              <a class="text-body" >District</a>
            </li>
            <li>
              <a class="text-body" >Blog</a>
            </li>
            <li>
              <a class="text-body" >Press Kit</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">For Restaurants</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a class="text-body" >Partner With Us
              </a>
            </li>
            <li>
              <a class="text-body" >Apps For You</a>
            </li>
            <li>
              <a class="text-body" >Tastyfood</a>
            </li>
            <li>
              <a class="text-body" >Indian food</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Learn More</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a class="text-body" >Privacy</a>
            </li>
            <li>
              <a class="text-body" >Secure</a>
            </li>
            <li>
              <a class="text-body" >Terms</a>
            </li>
            <li>
              <a class="text-body" >Conditions</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->