.navbarlogo{
    width: 180px;
    height: 100px;
}

.navbar{
    border: none;
    .nav-link:hover {
        color: white;
        transition: ease-in-out .9s;
        animation-name: changeColor;
        animation-duration: .9s;
        animation-iteration-count: infinate;
      }
      
      @keyframes changeColor {
        10% {
          color: #000000;
        }
        100% {
          color: white;
          background-color: blue;
        }
      }
    /* box-shadow: 0.5px 0.5px 5px #3f3737 ; */
    /* background: linear-gradient(to right, #ff7e5f, #feb47b);
    padding: 10px 20px;  */
    /* background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px; */
    /* padding: 10px 20px; */
}

nav img{
    height: 120px;
    width: 150px;
}