<app-navbar></app-navbar>
<section class="p-4 p-md-5" style=" background: linear-gradient(135deg, #f7b733, #fc4a1a);">
  <div class="row d-flex justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-5">
      <div class="card rounded-3">
        <div class="card-body p-4">
          <div class="text-center mb-4">
            <h3>Payment</h3>
          </div>
          <form action="">
            <p class="fw-bold mb-4" style="font-weight: lighter;">User Details:</p>

            <div data-mdb-input-init class="form-outline mb-4" id="input">
              <input type="text" id="formControlLgXsd" class="form-control form-control-lg"
                value="Enter username" /><br>
                <input type="text" id="formControlLgXsd" class="form-control form-control-lg"
                value=" Enter address" /><br>
                 <input type="text" id="formControlLgXsd" class="form-control form-control-lg"
                value="Enter phone no" /> <br>
                <input type="text" id="formControlLgXsd" class="form-control form-control-lg"
                value="Enter Quantity" />
            </div>
                
          <button data-mdb-button-init data-mdb-ripple-init class="btn btn-success btn-lg btn-block" style="margin: 0px 0px 0px 160px;" routerLink="/pay">Pay Now!</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>